version: '3.4'

services:
  redis:
    image: redis:6.2.6
    ports:
      - 6379:6379
    networks:
      - svgchart
  binancechartsvg:
    depends_on:
      - redis
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      - PORT=8000
      - REDISHOST=redis:6379
    ports:
      - 8080:8000
    networks:
      - svgchart
networks:
  svgchart: